<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoPDM2025GT03Grupo5Gestion_de_Gastos_Personales_Mensuales"
        tools:targetApi="31">
        <activity
            android:name=".ActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".VerObjetivosActivity"
            android:exported="false" />
        <activity
            android:name=".VerGastosActivity"
            android:exported="false" />
        <activity
            android:name=".ConfiguracionActivity"
            android:exported="false" />
        <activity
            android:name=".RecordatoriosActivity"
            android:exported="false" />
        <activity
            android:name=".ExportarDatosActivity"
            android:exported="false" />
        <activity
            android:name=".CategoriasActivity"
            android:exported="false" />
        <activity
            android:name=".ObjetivosActivity"
            android:exported="false" />
        <activity
            android:name=".AnalisisActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrarGastoActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainDashboard" />
        <activity android:name=".ui.analysis.AnalysisActivity" />
    </application>

</manifest>